# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Golang
backend/server
backend/*.db
backend/*.db-journal

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE & Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.env
