PORT=8080
DB_PATH=users.db
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=is4uwuqeitbihotj@ethereal.email
SMTP_PASS=ED3d2RwtHUdnygRvdB
SMTP_SENDER="Ucoal Notification <no-reply@ucoal-test.local>"
